.destination-dropdown
{
	display: inline-block;
	padding: $base-spacing-unit;
	background: rgba(0,0,0,0.5);
	@include font-size(30px, false);
	color: #fff;
	border-radius: 35px;
	text-transform: uppercase;
	cursor: pointer;
	&:hover,
	&:focus
	{
		@include vendor(box-shadow, 0 0 10px 3px rgba(255,255,255,0.35));
	}
}