/*
* Input placeholder styles
*/
::-webkit-input-placeholder
{
	color: rgba(0,0,0,0.65);
}
:-moz-placeholder
{ /* Firefox 18- */
	color: black;
}
::-moz-placeholder
{  /* Firefox 19+ */
	color: black;
}
:-ms-input-placeholder
{
	color: black;
}

:focus::-webkit-input-placeholder
{
	color: transparent;
}
:focus:-moz-placeholder
{ /* Firefox 18- */
	color: transparent;
}
:focus::-moz-placeholder
{  /* Firefox 19+ */
	color: transparent;
}
:focus:-ms-input-placeholder
{
	color: transparent;
}

.text-input,
textarea
{
	vertical-align: middle;
}

input[type="range"]
{
	padding: .5em 0;
	width: 100%;
}
.label--check-availability
{
//	color: #fff;
	@include font-size(18px, false);
}
.label--error {
    background: red;
    color:white;
}
.form-element
{

	border: 1px solid #c0c0c0;
	display: block;
	width: 100%;
	padding: 3px;
	@include transition;
	&:hover,
	&:focus
	{
		@include vendor(box-shadow, 0 0 4px 1px rgba(0,0,0,0.25));
	}
	&:active
	{
		@include vendor(box-shadow, inset 0 0 4px 1px rgba(0,0,0,0.25));
	}
}
.form-element--xs
{
	max-width: 25px;
}
.form-element--s
{
	max-width: 50px;
}
.form-element--m
{
	max-width: 100px;
}
.form-element--l
{
	max-width: 200px;
	@include media-query(palm) {
	max-width: none;
	}
}
.form-element--xl
{
	max-width: 300px;
}
.form-element-h
{
	display: inline-block;
}

.text-input--newsletter
{
	//width: 60%;
	padding-left: 20px;
	line-height: 54px;
	height: 54px;
}
.datepicker__wrapper
{
  position: relative;
}
.form-element-datepicker
{
    width:100%;
    -webkit-appearance: none;

  -moz-appearance: none;
}

.select-wrapper
{
	position: relative;
	&:after
	{
		position: absolute;
		display: block;
		right: 10px;
		top: 0;
		font-family: 'icons-default';
		font-size: 6px;
		content: '\e6d0';
		bottom: 0;
		height: 1em;
		line-height: 1em;
		margin: auto;
	}
}

select.form-element
{
	-webkit-appearance: none;
	border: 1px solid #c0c0c0;
	background: #fff;
	border-radius: 0;
}
.form-element--error {
    background-color: rgba(255,0,0,.25);
    border-color:rgba(255,0,0,.75);
}
.form-element--succes {
    background-color: rgba(0, 255, 0,.25);
    border-color: rgba(0, 130, 33,1);
}