.media__img--rev
{
	margin-right: 0;
}

.media__img--overzicht
{
  width:45%;
  margin-bottom: 0;
@include media-query(palm)
{
	width: 100%;
    margin-bottom: $half-spacing-unit;
}
}
.media__img--search {
  width:25%;
  margin-bottom:0;
  @include media-query(palm)
  {
    width: 100%;
    margin-bottom: $half-spacing-unit;
  }
}
.media--overzicht
{
  margin-bottom: 0;
  padding-bottom: 1.75em;
  border-bottom: 1px solid #dbdbdb;
  background: #f5f5f5;
  padding: 30px 0;

  @include media-query(palm)
  {
    padding: 30px 0;
  }
  @include media-query(lap)
  {
	padding: 30px 0;
  }
  @include media-query(desk)
	{


	}
}
.media--search {
  padding:0;
}
.media--last {
    border-bottom: 0;
}

.media--overzicht:last-of-type
{
    border-bottom: 0 solid transparent;
}
.media__body
{
  position: relative;
  p
  {
    text-align: justify;
    text-justify: inter-ideograph;
    hyphens: auto;
    hyphenate-limit-last: 4;
    hyphenate-limit-chars: 6;
  }

}
.media__body--search {
  padding-top:15px;
  h3 {
    font-family:inherit;
    font-size:inherit;
  }
}
.media
{

}
.media > div
{
  //padding-left: 20px;
}
