.quickbooker
{
	color: #fff; //{theme}
	margin-left: $mini-banner-width + $base-spacing-unit;
	@media only screen and (max-width:$lap-start)
	{
		display: none;
		padding-top: 0;
		margin-left: 0;

        .grid__item--quickbooker-button
        {
            margin: 10px 0 0 0;
        }
	}
}
	.quickbooker__label
	{
		display: inline-block;
		margin-right: $half-spacing-unit;
	}
	.quickbooker__corpcode--description
	{
		position: absolute;
		z-index: 999;
		width: 100%;
		left: 0;
		background-color: #fff;
		color: #000;
		margin: 2px 0px 0px 30px;
        @include vendor(box-shadow, 0 0 3px 0 rgba(0,0,0,0.25));
		p
		{
			padding: $half-spacing-unit;
			margin: 0;
		}

        @media only screen and (max-width:$lap-start)
        {
            margin-left: 24px;
            width: 95.5%;
        }
	}