/**
* Border radius mixin for individual sides
*
* Example:
.submit-button {
	@include border-top-radius(10px);
	@include border-right-radius(8px);
	@include border-bottom-radius(10px);
	@include border-left-radius (6px);
}
*/
@mixin border-top-radius($radius) {
	-webkit-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}
@mixin border-right-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
	-webkit-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
	background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
	-webkit-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
	background-clip: padding-box;
}
@mixin border-left-radius($radius) {
	-webkit-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}

/**
* transitions
*/
@mixin transition($properties: all, $duration: .3s, $easing: ease-out) {
	@if length($properties) > 1
	{
		transition-property: $properties;
		transition-duration: $duration;
		transition-timing-function: $easing;
	}
	@else
	{
		transition: $properties $duration $easing;
	}
}

/**
*	css column
*/
@mixin css-columns($count,$width,$gap,$rule)
{ 
	-webkit-column-count: $count; 
	-webkit-column-width: $width; 
	-webkit-column-gap: $gap; 
	-webkit-column-rule: $rule; /*mozilla*/ 
	-moz-column-count: $count; 
	-moz-column-width: $width; 
	-moz-column-gap: $gap; 
	-moz-column-rule: $rule; /*spec*/ 
	column-count: $count; 
	column-width: $width; 
	column-gap: $gap; 
	column-rule: $rule; 
}