/*------------------------------------*\
    $CAPTION
\*------------------------------------*/
/**
 * Ad a caption to an element, usually an image, e.g.:
	<div class="caption">
		<img src="#">
		<p class="caption__body">
			Nice picture!
		</p>
	</div>
 *
*/
.caption {
    position: relative;
}
.caption__body {
    position: absolute;
    display: block;
    padding: $base-spacing-unit;
}
/**
* Place the caption at the top or the bottom of its relative positioned parent
**/
.caption__body--top {
    top: 0;
    width: 100%;
}
.caption__body--bottom {
    bottom: 0;
    width: 100%;
}
/**
* Place the caption at the left or the right of its relative positioned parent
**/
.caption__body--left {
    top: 0;
    bottom: 0;
    left: 0;
}
.caption__body--right {
    top: 0;
    bottom: 0;
    right: 0;
}