
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
  font-family: 'codropsicons';
  src:url('/fonts/codropsicons.eot');
  src:url('/fonts/codropsicons.eot?#iefix') format('embedded-opentype'),
  url('/fonts/codropsicons.woff') format('woff'),
  url('/fonts/codropsicons.ttf') format('truetype'),
  url('/fonts/codropsicons.svg#codropsicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
