@charset "UTF-8";
/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       true;
$use-columns:       false;
$use-nav:           false;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    true;
$use-media:         true;
$use-marginalia:    false;
$use-island:        true;
$use-block-list:    true;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        true;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      true;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;




/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */

/**
* CHANGES ALL MARGINS AND PADDINGS WITHIN THE WEBSITE
*/
$base-spacing-unit: 30px; //{theme}

$palm-base-spacing-unit: 10px; //{theme}
$palm-half-spacing-unit: $palm-base-spacing-unit / 2; //{theme}

$palm-nav-width: 95%;

/**
 * Base font settings
 */
$base-font-size: 18px; //{theme}
$base-line-height: $base-font-size * 1.4; //{theme}
$base-font-family: 'Tahoma', sans-serif; //{theme}{x}

/**
 * Base font settings
 */
$secondary-font-family: 'Verdana', serif;
/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */

/**
 * Page
 */
$max-page-width: 1100px; //{theme}{x}
$min-page-width: 960px; //{theme}{x}
$base-page-width: 80%; //{theme}{x}

/**
 * Header
 */
$header-background: #fff; //{x}

/**
 * Navigation
 */
$nav-background: #fff; //[x}
$nav-top-padding: 0; //{theme} If $nav-background is not equal to $header-background value should be $base-spacing-unit,else 0
$nav-link-color: #009900;
$nav-link-color-hover: #000099;
$nav-link-background: #000099;
$nav-link-background-hover: #009900;


/**
 * Set border radius for multiple elements: nav, language select, promotions blocks, etc.
 */
$base-border-radius: 5px; //{theme}{x}

/**
 * General font colors
 */
$base-font-color: #333333; //{x}
$second-font-color: orange; //{x}
$base-link-color: #5f6062; // used for the main content, breadcrumb, flexslider direction nav {x}
$base-header-color: orange;

/**
 * Icon font vars
 */
$font-icon-outer-size: 40px; // {theme} for box-less icons set to auto
$font-icon-border-radius: 50%; // {theme} for 90 degrees corners set to 0, for a circle set to 50%
$font-icon-icon-size: 24px; // {theme}
$font-icon-color-1: #fff; // {theme} idle: font-color, hover: background-color
$font-icon-color-2: #000; // {theme} idle: background-color, hover: font-color

/**
 * Photo slider caption
 */
$photoslider-caption-background: rgba(51,159,219,0.75); //rgba value
$photoslider-caption-font-color: #fff;
$photoslider-caption-font-size: 30px;

/**
 * Free wifi, etc. banner
 */
$mini-banner-width: 150px; //{theme}
$mini-banner-background: #fff; //{theme}
$mini-banner-color: #000; //{theme}
$mini-banner-font-size: 20px;

/**
 * Buttons
 */
$button-color: #fff;
$button-background: #000;

/**
 * Discount slider
 */
$discount-slider-color: #fff;
$discount-slider-background: blue;

$lap-start: 750px;

/**
  * BRAND
  */
$brand-color-yellow: #eae100;

/*
* Brand colors
*/

$base-brand-color: #224E60; // Turquoise
$secondary-brand-color: #B52465; // HOT pink

/*
* Misc. colors
*/

$light-gray: #F7F7F7;
$gray: #E4E9EC;
$dark-gray: #313131;

/*
* Social Media Feed
*/
$social-media-link-color: #fff;

/*
* KZ/Hiltex Colors
*/
// KZ - Colors
$color-kz-yellow: #febd11;
$color_kz_black: #000000;
$color_kz_blue: #00529b;
$color_kz_grey: #d9d9cd;