/*
* IMAGE FIT
* Simulate object-fit for images
*
<div class="image-fit" style="background-image: url(http://www.placekitten.com/700/400)">
	<img class="image-fit__img" src="url(http://www.placekitten.com/700/400)">
</div>
*
*/
.image-fit {
    width: 100%;
    //	height: 75%;
    @include media-query(palm) {
        height: 50%;
    }
    @include media-query(lap) {
        height: 50%;
    }
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: none;
}
.image-fit__img {
    display: none;
}
.image-fit--open {
    height: 100%;
}