//.block-list{
//    border-top: none;
//}
//.block-list>li {
//    border-bottom-width: 1px;
//    padding: 5px 0;
//}
//
//.block-list>li:last-of-type
//{
//    border:none;
//}
//
//.block-list
//{
//    //  span
//    //  {
//    //    display: inline-block;
//    //    float: right;
//    //    font-weight: bold;
//    //    vertical-align: middle;
//    //  }
//
//}
//.block-list__item
//{
//    img
//    {
//        display: inline-block;
//        vertical-align: middle;
//        width: 60px;
//        height: 60px;
//        border-radius: 50%;
//    }
//}
//.block-list__item-left
//{
//    display: inline-block;
//    vertical-align: middle;
//    width: 40%;
//}
//
//.block-list__item-right
//{
//    display: inline-block;
//    vertical-align: middle;
//    width: 60%;
//    text-align: right;
//    img
//    {
//        height:100px;
//        width: 100px;
//        margin-left: 30px;
//    }
//}
//
//.block-list>li>a.active
//{
//    background: $brand-color-yellow;
//}
.block-list--bullet {
    li {
        position: relative;
        padding-left: 30px;
    }
}

.block-list__bullet-checkmark {
    display: block;
    position: absolute;
    left: 0;
}

.block-list--form
{
    li
    {
        text-align: right;
        @extend .cf;

        input, textarea, select
        {
            display: inline-block;

        }
        .select-wrapper:after {
            height: 22px!important;
            top: auto!important;
        }
        @include media-query(palm) {
            label {
                float: left!important;
            }
        }
    }
    &-label {
        float: left!important;
        display: inline-block;
        text-align: left !important;
        @include media-query(desk) {
            max-width: 49%;
        }
        @include media-query(lap) {
            max-width: 49%;
        }
    }
}