.destination-dropdown
{
    position: absolute;
    bottom:10rem;
    left:0;
    right:0;
    margin:0px auto 0 auto;
    width: 330px;
    max-width: 330px;
	padding: 13px;
	background: $brand-color-yellow;
	color: #202020;
	border-radius: $base-border-radius;
	cursor: pointer;
    text-align: center;
	&:hover,
	&:focus
	{
      color:#000;
      @include vendor(transition, all 0.1s);
      background: darken(#eae100, 5%);
	}
  &:active
  {
    background: darken(#eae100, 15%);
  }
  @include media-query(palm)
  {
      bottom: 12.5rem;
      font-size: 14px;
      width:80%;
  }
}

.overview-filter__image {
    height: 272px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.overview-search__image {
    height: 110px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
