/**
	Specific selectors for external embedded content
 */
.directions
{
  margin-bottom: $base-spacing-unit;
  @include media-query(palm)
  {
    font-size: $base-font-size *.8;
  }
}

.directions-form
{
  border-bottom: 1px solid #ccc;
  margin-bottom: $base-spacing-unit;
  div
  {
    display: inline-block;
    margin-bottom: $half-spacing-unit;
  }
  .btn
  {
    @include media-query(lap)
    {
      padding-right: $half-spacing-unit;
    }
  }
}
.form-wrapper--main
{
  text-align: left;
  margin-bottom: $half-spacing-unit;
  &:after
  {
    content:".";
    visibility: hidden;
    clear: both;
    display: block;
    max-height: 0;
  }
  ul>li
  {
    width:100% !important;
    position: relative;
    input
    {
      width: 100% !important;
    }
  }
  ul, ol
  {
    list-style:none;
    position:relative;
    margin-left:0 !important;
  }

}

.text-input-wrapper
{
  position: relative;
  .text-input,
  textarea
  {
    //      border-radius: $ui-border-radius;
    //      border: 1px solid $ui-border-color; //{theme}
    //      background: #ffffff;
    //      padding: 5px;
    //	margin-bottom:10px;
    vertical-align: middle;
    width:100%;
  }
}

$directions-label__height: 36px;
.directions__label
{
  position: relative;
  width: 100%;
  line-height: $directions-label__height;
  padding-right: 6px;
  padding-left: 6px;
  float: right;
  text-align: right;
  background: #eae100;
  color: #333;
  @include media-query(palm) {
    line-height: 1.5;
  }
  &:after // To make the pointy bit
    {
    width: $half-spacing-unit;
    height: 18px;
    content: "";
    border-top: $directions-label__height / 2 solid transparent;
    border-bottom: $directions-label__height / 2 solid transparent;
    border-left:12px solid #eae100;
    position: absolute;
    left: 100%;
    top:0;
    bottom:0;
    margin: auto 0;
  }
}

.directions__description
{
  margin: $half-spacing-unit 0;
}
.directions__current-description,
.directions__destination-description
{
  @extend .directions__description;
  font-weight: bold;
  display: block;
  color: #333;
  @include font-size(20px, false);
  text-align: center;
}
.timeline
{
  position: relative;
}
.timeline__line
{
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1px;
  background: #333;
}
.timeline__line-top
{
  @extend .timeline__line;
  top: 50%;
}
.timeline__line-bottom
{
  @extend .timeline__line;
  bottom: 50%;
}
.timeline__marker
{
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid #333;
  background: #f5f5f5;
}
.timeline__marker--start-n-finish
{
  &:after
  {
    font-family: "icons-default";
    font-size: 26px;
    content:"\e682";
    display: block;
    width: 1rem;
    position: absolute;
    text-align: center;
    top: -15px;
    left: -6px;
    width: 100%;
    height: 100%;
  }
}
.timeline__marker--start
{
  &:after
  {
    color: $base-font-color;
  }
}
.timeline__marker--finish
{
  &:after
  {
    color: $button-background;
  }
}

/* UI buttons */

.btn--ui
{
  color: $base-font-color;
  background: none;
  border: 1px solid transparent;

  @include transition(background .2s ease-in-out);
  &:hover
  {
    border: 1px solid rgba($base-font-color, .5);
  }
}
.btn--form-wrapper
{
  @media screen and (min-width: 749px)
  {
    padding-left: $half-spacing-unit;
  }
}
.btn--ui-active
{
  border: 1px solid $base-font-color;
}

.btn--font-icon
{
  background: none;
  border: none;
}
.btn--font-icon-form
{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 16px;
  .font-icon__icon
  {
    vertical-align: middle;
    padding: 0 5px;
  }
}