.l-footer
{
    margin-top: 40px;
    padding: $base-spacing-unit;
    padding-top: 0;
    word-wrap: break-word;
    @include font-size(14px);

    .footer-list > li > a
    {
        text-decoration: none;
        font-size: .75rem;
    }
    p
    {
        line-height: 1.65;
        margin-bottom: $half-spacing-unit;
    }
    li
    {
        line-height: 1.65;
        margin: 0 0;
    }
    svg
    { fill: #fff; }
    h4.footer-links
    {
        font-weight: normal;
        margin-bottom: .7rem;
        text-transform: uppercase;
    }

    @include media-query(palm) {

        .footer-list > li > a
        {
            @include font-size(18px);
            line-height: 1.75;
        }

        li {
            line-height: 1.75;
        }
        h4.footer-links
        {
            @include font-size(18px);
        }

    }
}
.l-footer--sub
{
    margin-top: $base-spacing-unit;
}

.l-page-footer
{
  position: absolute;
	bottom: 0;
	width: 100%;
	@media only screen and (max-width: $lap-start)
	{
		position: relative;
	}
}
.l-page-footer--fixed //{optional-fixed}
{
	position: fixed;
	bottom: 0;
	z-index: 5000;
	width: 100%;
	left: 0;
	padding-left: $base-spacing-unit;
	padding-right: $base-spacing-unit;
	@media only screen and (max-width:$desk-start)
	{
		position: static;
	}
	.l-wrapper--footer
	{
		max-width: $max-page-width; //{theme}
		min-width: $min-page-width; //{theme}
		width: $base-page-width; //{theme}
	}
	@media only screen and (max-width:$desk-start)
	{
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}
}
.partner-wrapper {
  height: 112px;
  display: block;
}
.partner-image
{
    width: 138px;
    max-width: 100%;
    max-height: 70px;
}
.partner-image--main
{
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    position: relative;
    max-width: 222px;
    max-height: 112px;
}
.partner-visual
{
    margin-top: $base-spacing-unit;
    img, a
    {
        width: 100%;
    }
}

.footer-list
{
    @include media-query(palm)
    {
        margin-bottom: 1rem !important;
    }
}