.grid
{
	//margin-left: -$half-spacing-unit;
}
.grid--promo-overlay
{
	margin-bottom: $base-spacing-unit;
}
.grid--singleline
{
	.grid__item
	{
		margin-bottom: 0;
		position: relative;
	}
}
.grid--destination-menu
{
  margin: auto;
  width: 100%;
  max-width: 1000px;
  h4, h5
  {
    margin-bottom: 12px;
  }
}
.grid--availability-check
{
	.grid__item
	{
		margin-bottom: $half-spacing-unit;

	}
    @media only screen and ("max-width: 400px") {
        .grid__item {
            width: 100% !important;
        }
    }
}
	.grid__item--btn
	{
		text-align: center;
	}
	.grid__item
	{
		//padding-left: $half-spacing-unit;
	}

.grid__item--viewtypes
{
  margin-top: 12px;
  margin-bottom: 30px;
}
.grid__item--full-width-row
{
  display:block;
  margin: 0 auto;
}

.grid__item--content-w-menu
{
  padding-right: 30px;
    @include media-query(palm) {
        padding-right: 15px;
    }
}

.grid__item--content-block
{
  margin-bottom: $base-spacing-unit;
    @media only screen and ("max-width: 400px") {
        width: 100%;
    }
}

.grid__item--filter
{
    min-height: 75vh;
}

.grid__item--clickable
{
  cursor:pointer;
}
.grid__item--no-padding {
    padding-left:0!important;
}