.matchboard__manipulate
{
    font-weight:bold;
    cursor: pointer;
    text-align:center;
    font-size: 1.5rem;
    background: white;
    border-radius: 50%;
    width: 30px;
    height:30px;
    position:absolute;
    z-index:100;
    -moz-box-shadow: 0 0 4px #808080;
    -webkit-box-shadow: 0 0 4px #808080;
    box-shadow: 0 0 4px #808080;
    text-decoration: none;
    &:hover {
        -moz-box-shadow: inset 0 0 4px #808080;
        -webkit-box-shadow: inset 0 0 4px #808080;
        box-shadow: inset 0 0 4px #808080;
        text-decoration: none;
    }
}
.matchboard__manipulate--home
{
    top:16px;
    right:-16px;
}
.matchboard__manipulate--away
{
    bottom: 16px;
    right: -16px;
}
.matchboard__match
{
    position: relative;
    display: flex;
    list-style:none;
    height:120px;
    margin-bottom: $half-spacing-unit;
    width:100%;
    -moz-box-shadow: 0 0 4px #808080;
    -webkit-box-shadow: 0 0 4px #808080;
    box-shadow: 0 0 4px #808080;
    border-radius:$base-border-radius*2;
}
.matchboard__match--rotate {
    position: absolute;
    transform: rotate(-90deg) translate(-50%,-50%);
    transform-origin: 0 0;
    top: 50%;
    left: 50%;
    &__left {
        left: 30%;
    }
    &__right {
        left: 70%;
    }
}
.matchboard__match--time
{
    position:relative;
    width: 10%;
    background:$color-kz-yellow;
    order: 1;
    font-size: 1.5rem;
    color:$color-kz_blue;
    border-top-left-radius: $base-border-radius*2;
    border-bottom-left-radius: $base-border-radius*2;
    @include media-query(palm) {
        font-size:1.3rem;
    }
}
.matchboard__match--live {
    background: red !important;
    .matchboard__match--rotate {
        color: white;
    }
    @media only screen and (max-width: 749px) {
        font-size: 1rem;
        .matchboard__match--rotate {
            &__left {
                left: 27%;
            }
            &__right {
                left: 73%;
            }
        }
    }
}
.matchboard__match--date
{
    position: relative;
    width: 17%;
    background:#ffffff;
    order: 2;
    color: $color_kz_blue;
    text-align: center;
    .matchboard__match--date__day
    {
        padding-top:$base-spacing-unit;
        display: block;
        height:50%;
        font-size:2.5rem;
        display:block;
        @include media-query(palm) {
            padding-top:$base-spacing-unit +5;
            font-size:2rem;
        }
    }
    .matchboard__match--date__month
    {
        padding-top:$half-spacing-unit / 2;
        display: block;
        height:50%;
        font-size:1.5rem;
        display:block;
        @include media-query(palm) {
            padding-top: 5px;
            font-size:1.2rem;
        }
    }
}
.matchboard__match--teams
{
    width: 38%;
    flex-grow: 2;
    order: 3;
    font-size:1.3rem;
    background: #ffffff;
    span {
        overflow:hidden;
        max-width:100%;
    }
    .matchboard__match--teams__home
    {
        padding-top: 25px;
        display: block;
        height:50%;
        display:block;
        border-bottom: 2px solid $color_kz_grey;
    }
    .matchboard__match--teams__away
    {
        padding-top:8px;
        display: block;
        height:50%;
        display:block;
    }
    @include media-query(palm) {
        font-size:1.1rem;
    }
}
.matchboard__match--score
{
    text-align: center;
    width: 20%;
    background:$color-kz_blue;
    color: #ffffff;
    order: 4;
    font-size: 2.5rem;
    border-top-right-radius: $base-border-radius*2;
    border-bottom-right-radius: $base-border-radius*2;
    .matchboard__match--score__home
    {
        padding-top: 16px;
        display: block;
        height:50%;
        display:block;
        border-bottom: 2px solid $color_kz_grey;
    }
    .matchboard__match--score__away
    {
        padding-top:16px;
        display: block;
        height:50%;
        display:block;
    }
    @include media-query(palm) {
        font-size:1.5rem;
    }
}