html
{
    @include vendor(text-size-adjust, none);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
body
{
    height: 100%;
    background: #ececec;
    font-family: $base-font-family, sans-serif;
    color: $base-font-color;
    line-height: $base-line-height;
    @include vendor(transition, all 1s ease);
    &.no-scroll {
        height: 100vh;
        overflow: hidden;
    }
}
a
{
    color: $base-link-color;
    &:hover
    {
        text-decoration: underline;
    }
}
.l-header
{
    padding: 5px 0;
    position: relative;
}
.l-wrapper
{
    @extend .cf;
    margin-left: auto;
    margin-right: auto;
    padding: $base-spacing-unit;
    padding-bottom: 0;
    @include media-query(palm)
    {
        padding: $half-spacing-unit;
    }
}
.l-wrapper--content {
    padding-top: 0;
    position: relative;
    @include media-query(palm)
    {
        margin-right: 0;
        margin-left: 0;
    }
}
.l-content
{
    p
    {
      text-align: justify
    }
    p.intro
    {
        text-align: left;
    }
    .grid__item
    {
        position: relative;
    }
    .anchor
    {
        display: block;
        position: absolute;
        top:-100px;
    }
    .img__wrapper
    {
        overflow: hidden;
    }

    .sidebar
    {
        z-index: 999;
        height: auto;
        .block-list
        {
            margin:0em 0;
        }
        a
        {
            text-decoration: none;
        }
        h4
        {
            margin-bottom: 0rem;
        }
    }
}

svg {
    width: 1.2em;
    height: 1.2em;
    vertical-align: text-bottom;
    margin-bottom: -0.03em;
}

svg path,
svg polygon,
svg rect,
svg circle {
    fill: rgba($base-link-color, 0.6);
}

.center {
  text-align: center;
}

// Overwrites for landscape mobile

// iPhone 6 in landscape
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {



}

// iPhone 6 Plus in landscape
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : landscape) {


  .l-page-header-utility {
    vertical-align: middle;
    .palm-one-whole {
      width: 50%!important;
      display: inline-block;
      vertical-align: middle;
    }
  }

  div.is-sticky .l-wrapper--nav {
    height: 55px!important;
  }

  .destination-dropdown {
    bottom: 125px!important;
  }

  .l-wrapper--nav {
    height: 80px;
  }

  .slick-dots {
    text-align: left;
    margin-left: .5em;
    li {
      bottom: 85px;
    }
  }

  .inline-list--language li>a {
    line-height: 36px!important;
  }

  .islet.headerlink {
    padding: 5px;
    bottom: 80px;
  }

  .img-header-caption .quote {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 0;
  }
}

// iPhone 5 & 5S in landscape
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {

  .l-page-header-utility {
    vertical-align: middle;
    .palm-one-whole {
      width: 50%!important;
      display: inline-block;
      vertical-align: middle;
    }
  }

  div.is-sticky .l-wrapper--nav {
    height: 55px!important;
  }

  .destination-dropdown {
    bottom: 125px!important;
  }

  .l-wrapper--nav {
    height: 80px;
  }

  .slick-dots {
    text-align: left;
    margin-left: .5em;
    li {
      bottom: 85px;
    }
  }

  .inline-list--language li>a {
    line-height: 36px!important;
  }

  .islet.headerlink {
    padding: 5px;
    bottom: 80px;
  }

  .img-header-caption .quote {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 0;
  }
}

// iPhone 2G-4S in portrait & landscape
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  .l-page-header-utility {
    vertical-align: middle;
    .palm-one-whole {
      width: 50%!important;
      display: inline-block;
      vertical-align: middle;
    }
  }

  div.is-sticky .l-wrapper--nav {
    height: 55px!important;
  }

  .destination-dropdown {
    bottom: 40%!important;
  }

  .l-wrapper--nav {
    height: 80px;
  }

  .slick-dots {
    text-align: left;
    margin-left: .5em;
    li {
      bottom: 85px;
    }
  }

  .inline-list--language li>a {
    line-height: 36px!important;
  }

  .islet.headerlink {
    padding: 5px;
    bottom: 80px;
  }

  .img-header-caption .quote {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 0;
  }

}

.overlay-active {
    overflow: hidden;
}

.l-content-countdown
{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    color: #777;
    background: $color-kz_black;
    width: auto;
    height: 35px;
    padding: 5px 12px 0 10px;
    font-size: 18px;
    input {
        display: inline-block;
        vertical-align: baseline;
        background: $color_kz_black;
        color: #fff;
        text-align: right;
        border: 0px solid;
        width: 25px;
        font-size: 18px;
    }
}