.promo
{

}
	.promo__title
	{
		margin-top: $half-spacing-unit;
		margin-bottom: $half-spacing-unit;
		@include font-size(20px);
		font-weight: normal;
	}
	.promo__title--caption
	{
		margin-top: 0;
	}
	.promo__body
	{
		p
		{
			&:last-child
			{
				margin-bottom: 0;
			}
		}
	}