.ui-tooltip {
  padding:8px;
  position:absolute;
  z-index:200;
//  max-width:300px;
  -webkit-box-shadow:0 0px #aaa;
  box-shadow:0 0 0px #aaa;
  background: rgba(0,0,0,0.55)!important;
  color: #fff !important;
  border-radius: 5px;
  font-size: 16px!important;
    font-family: inherit!important;
  &:before
  {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(0,0,0,0.55);
    top:-8px;
//    margin-left:-2px;
  }
}

body .ui-tooltip {
  border-width:0;
  border-color: #ccc;
}