.block-list {
    border-top: none;
}
.block-list>li {
    border-bottom-width: 1px;
    padding: 5px 0;
}
.block-list>li:last-of-type {
    border: none;
}
.block-list {
    //  span
    //  {
    //    display: inline-block;
    //    float: right;
    //    font-weight: bold;
    //    vertical-align: middle;
    //  }
}
.block-list__item {
    img {
        display: inline-block;
        vertical-align: middle;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}
.block-list__item-left {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}
.block-list__item-right {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    text-align: right;
    img {
        height: 100px;
        width: 100px;
        margin-left: 30px;
    }
}
.block-list>li>a.active {
    background: $brand-color-yellow;
}
.block-list--form {

    li {
        text-align: right;
        @include media-query(palm) {
            text-align: left;
        }
        label {
            float: left;
            display: inline-block;
            @include media-query(palm) {
              float: none;
            }
        }
        input,
        textarea,
        select {
            display: inline-block;
        }
    }
}