.dropzone {
  min-height: 15px !important;
  background: #e4e4da !important;
  border:0 !important;
  padding:0 !important;
}
.dropzone .dz-preview.dz-image-preview {
  background: #e4e4da !important;
}
