/**
* FAUX-TABLE
*
* For content that should behave as a table
*
*/
.faux-table {
    display: table;
}
.faux-table__row {
    display: table-row;
}
.faux-table__cell {
    display: table-cell;
}
.faux-table__cell--top {
    vertical-align: top;
}
.faux-table__cell--middle {
    vertical-align: middle;
}
.faux-table__cell--bottom {
    vertical-align: bottom;
}