/**
 http://www.css-tricks.com/html-for-icon-font-usage/

 Enhance word
<h3 class="font-icon">
	<span class="font-icon__icon" aria-hidden="true" data-icon="&#x21dd;"></span>
	Stats
</h3>

 Stand-alone icon
<a href="#" class="font-icon font-icon--stand-alone">
  <span class="font-icon__icon" aria-hidden="true" data-icon="&#x25a8;"></span>
  <span class="font-icon__screen-reader-body">RSS</span>
</a>
 */
.font-icon {
    text-decoration: none;
}
.font-icon--stand-alone {
    display: inline-block;
    /* Chrome 19 was weird with clickability without this */
}
.font-icon__icon[data-icon]:before {
    font-family: icons-default;
    /* BYO icon font, mapped smartly */
    content: attr(data-icon);
    speak: none;
    /* Not to be trusted, but hey. */
    font-weight: normal !important;
}
.font-icon__screen-reader-body {
    /* Reusable, toolbox kind of class */
    position: absolute;
    top: -9999px;
    left: -9999px;
}