.grid__breadcrumb
{

}
.grid__item--breadcrumb {
	@media only screen and (max-width:$lap-start)
	{
		display: none;
	}
}
.site_breadcrumb {
    margin-left:0;
    margin-bottom: 10px;
    li {
    display:inline-block;
    text-decoration: none;
      a {
        text-decoration: none;
      }
    }
    a {
      color:$base-font-color !important;
      text-align: left !important;
      text-transform: none !important;
    }
	@media only screen and (max-width:$lap-start)
	{
		display: none;
	}
//	margin-bottom: $half-spacing-unit;
	a
	{
		color: $base-link-color; //{theme}
	}
	.current
	{
		pointer-events: none;
		text-decoration: none;
		cursor: text;
	}
}

.link-naked
{
    display: inline-block;
    a {
        text-decoration: none;
    }
    a:hover
    {
        background: $brand-color-yellow;
        text-decoration: none;
    }
}