/** top slider **/
.discount-slider
{
	@extend .cf;
	position: fixed;
	z-index: 10020;
	color: $discount-slider-color;
	background-color: $discount-slider-background;
	@include vendor(transition, all 1s);
}
.discount-slider--top
{
	top: -1000px;
	left: 0;
	min-width: 100%;
	.discount-slider__wrapper
	{
		margin: auto;
		max-width: $max-page-width; //{theme}
		min-width: $min-page-width; //{theme}
		width: $base-page-width; //{theme}
		padding: $half-spacing-unit $base-spacing-unit;
	}
	.discount-slider__tab
	{
		bottom: -40px;
		right: $base-spacing-unit;
		padding-left: $half-spacing-unit;
		padding-right: $half-spacing-unit;
		line-height: 40px;
		vertical-align: middle;
		border-bottom-right-radius: $base-border-radius;
		border-bottom-left-radius: $base-border-radius;
	}
	.discount-slider--close
	{
		position: absolute;
		top: $half-spacing-unit;
		right: $base-spacing-unit;
	}
}
.discount-slider--left
{
	top: $base-spacing-unit;
	left: -1000px;
	min-height: 300px;
	border-bottom-right-radius: $base-border-radius;
	.discount-slider__wrapper
	{
		padding: $half-spacing-unit;
		width: 100%;
	}
	.discount-slider__tab
	{
		top: 105px;
		right: -145px;
		@include vendor(transform, rotate(90deg));
		width: 250px;
		line-height: 40px;
		height: 40px;
		overflow: hidden;
		padding-left: $half-spacing-unit;
		padding-right: $half-spacing-unit;
		border-top-right-radius: $base-border-radius;
		border-top-left-radius: $base-border-radius;
		text-align: center;
	}
	.flag__body,
	.flag__image--discount-slider
	{
		display: block;
	}
	.flag__image--discount-slider
	{
		padding-right: 0;
	}
	.flag__body--discount-slider
	{
		max-width: 200px;
	}
	.discount-slider--close
	{
		padding-top: $half-spacing-unit;
		padding-left: $half-spacing-unit;
	}
}
.discount-slider--right
{
	top: $base-spacing-unit;
	right:-1000px;
	min-height: 300px;
	border-bottom-left-radius: $base-border-radius;
	.discount-slider__wrapper
	{
		padding: $half-spacing-unit;
		width: 100%;
	}
	.discount-slider__tab
	{
		top: 105px;
		left: -145px;
		@include vendor(transform, rotate(90deg));
		width: 250px;
		line-height: 40px;
		height: 40px;
		overflow: hidden;
		padding-left: $half-spacing-unit;
		padding-right: $half-spacing-unit;
		border-bottom-right-radius: $base-border-radius;
		border-bottom-left-radius: $base-border-radius;
		text-align: center;
	}
	.flag__body,
	.flag__image--discount-slider
	{
		display: block;
	}
	.flag__image--discount-slider
	{
		padding-right: 0;
	}
	.flag__body--discount-slider
	{
		max-width: 200px;
	}
	.discount-slider--close
	{
		padding-top: $half-spacing-unit;
		padding-right: $half-spacing-unit;
		text-align: right;
	}
}

	.discount-slider__position
	{
		position: relative;
	}
	.discount-slider__tab
	{
		position: absolute;
		display: inline-block;
		cursor: pointer;
		color: $discount-slider-color;
		background-color: $discount-slider-background;
	}
	.discount-slider__arrow
	{
		&:before
		{
			font-family: 'icons-default';
			font-size: 18px;
			line-height: 1;
			content: "\e6c3";
			vertical-align: middle;
		}
	}
	.discount-slider__arrow--open
	{
		&:before
		{
			content: "\e6bf";
		}
	}
	.discount-slider--close
	{
		a
		{
			color: $discount-slider-color;
		}
	}
	.discount-slider--media
	{
		width: 150px;
		height: 100px;
		overflow: hidden;
	}


.discount-slider--bottom
{
  bottom: -1000px;
  left: 0;
  min-width: 100%;
  .discount-slider__wrapper
  {
    margin: auto;
    max-width: $max-page-width; //{theme}
    //min-width: $min-page-width; //{theme}
    min-width: auto; //{theme}
    width: $base-page-width; //{theme}
    padding: $half-spacing-unit $base-spacing-unit;
  }
  .discount-slider__tab
  {
    top: -40px;
    right: $base-spacing-unit;
    padding-left: $half-spacing-unit;
    padding-right: $half-spacing-unit;
    line-height: 40px;
    vertical-align: middle;
    border-top-right-radius: $base-border-radius;
    border-top-left-radius: $base-border-radius;
  }
  .discount-slider--close
  {
    position: absolute;
    top: $half-spacing-unit;
    right: $base-spacing-unit;
  }
}