.legend
{
	display: inline-block;
	@include vendor(border-radius,$base-border-radius);
	height: 15px;
	width: 15px;
	vertical-align: middle;
}

.destination-filter
{

  text-align: left;
  margin-bottom:1em;
  font-family: $secondary-font-family;

  input[type=checkbox]
  {
    display:none;
  }
  input[type=checkbox] + label
  {
    font-size:1.2em;
    transition: all 0.2s ease;
    padding:.05em;
    margin: 0 .3em;
  }
  input[type=checkbox].checked + label
  {
    font-size:1.3em;
    transition: all 0.2s ease;
    color: #000;
    background: #eae100;
    padding:0;

  }
  input[type=radio]
  {
    display:none;
  }
  input[type=radio] + label
  {
    font-size:1.2em;

    padding:.05em;
    margin-right: .2em;
    transition: all 0.2s ease;
//    color: #909090;
//    margin: 10px;

//    border-radius: 50px;
//    padding:3px;
  }
  input[type=radio]:checked + label
  {
    font-size:1.3em;
    transition: all 0.2s ease;
    color: #000;
    background: #eae100;

    padding:0;
//    padding: 5px;
  }
  li:after
  {
    opacity: 1;
    content: "";
    height: 5px;
    background: $base-font-color;
    width: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    display: inline-block;
margin: 0 auto;
    vertical-align: middle;
line-height: 1;
    transition: all 0.3s ease;
    transition: opacity 0.4s ease;
  }

}
.inline-list>li:last-of-type:after
{
  display: none;
}
.filter__sort
{
  text-align: left;
  margin-bottom:2em;
}

.filter__column
{
  /*background: rgba(0,0,0,0.05);
  padding:10px;
  margin-left: 20px;
  margin-right: -20px;*/
  & > select
  {
    margin-bottom: 1em;
  }
  .filter__block
  {
    display: block;
    padding: .5em 0;
    margin: .6em 0;
    display: inline-block;
    vertical-align: top;
    //border-bottom: 1px solid #dbdbdb;
  }
  .blocktitle
  {
    //margin-bottom: 1em;
  }
}

  .check-list__filter-column
     {
       input[type=radio]
       {
         display:none;
       }
       input[type=radio] + label
       {
         transition: all 0.15s ease;
         color: $base-font-color;
         font-family: $secondary-font-family;
         font-size: 1.1rem;
         line-height: 1.4;
         &:before {
           opacity: 0;
           content: "";
           border-color: transparent #111;
           border-style: solid;
           border-width: 0.25em 0 0.25em 0.35em;
           display: inline-block;
           height: 0;
           width: 16px;
           margin-left: -16px;
           vertical-align: middle;
           //top: 0.90em;
           position: relative;
           line-height: 1;
           transition: all 0.3s ease;
         }

       }
       input[type=radio]:checked + label
       {
         //font-size:1.1em;
         transition: margin 0.15s ease;
        margin-left: .7em;
         &:before {
           opacity: 1;
           content: "";
           border-color: transparent #111;
           border-style: solid;
           border-width: 0.25em 0 0.25em 0.35em;
           display: inline-block;
           height: 0;
           width: 16px;
		margin-left: -12px;
           //top: 0.90em;
           vertical-align: middle;
           position: relative;
           line-height: 1;
           transition: all 0.3s ease;
         }
       }

     }
.check-list__spacer
{
    height: 1rem;
    content:'';
    display: block;
}

.hide--filters {
	display:none !important;
}

.check-list--filter {

	input[type=checkbox] {
		display:none;
	}

	input[type=checkbox] + label
	{
		transition: all 0.15s ease;
		color: $base-font-color;
		font-family: $secondary-font-family;
		font-size: 1.1rem;
		line-height: 1.4;
		opacity: .5;
		&:before {
			opacity: 0;
			content: "";
			border-color: transparent #111;
			border-style: solid;
			border-width: 0.25em 0 0.25em 0.35em;
			display: inline-block;
			height: 0;
			width: 16px;
			margin-left: -16px;
			vertical-align: middle;
			position: relative;
			line-height: 1;
			transition: all 0.3s ease;
		}
	}

	input[type=checkbox].checked + label {
		opacity: 1;
		transition: all 0.15s ease;
		background: #eae100;
	}

	input[type=radio]:checked ~ ul {
		background: red !important;
	}

}
.check-list__filter-horizontal
{
  width:75%;
  margin: auto;
  text-align: center;
  li
  {
    margin: 0 5px 5px 5px;
    position:relative;
  }
  a
  {
    text-decoration: none;
  }
  input[type=radio]
  {
    display:none;
  }
  input[type=radio] + label
  {
    margin: 7px 0 7px 0;
    transition: all 0.15s ease;
    color: $base-font-color;
    //font-family: $secondary-font-family;
    font-size: 1rem;
    line-height: 1.4;
    //margin: 0 -6px;
    &:before {
      opacity: 0;
      content: "";
      border-color: transparent #111;
      border-style: solid;
      border-left: .2em solid transparent;
      border-right: .2em solid transparent;
      border-bottom: .4em solid $base-font-color;
      display: inline-block;
      height: 0;
      width: 0;
      //left: -.4em;
      //top: 0.90em;
      left: 0;
      right: 0;
      top:100%;
      margin: 0 auto;
      vertical-align: middle;
      position: absolute;
      line-height: 1;
      transition: all 0.3s ease;
      transition: opacity 0.4s ease;
    }

  }
  input[type=radio]:checked + label
  {
    //font-size:1.1em;
    transition: margin 0.15s ease;
    margin-top: 0;
    &:before {
      opacity: 1;
      content: "";
      border-color: transparent #111;
      border-style: solid;
      border-left: .2em solid transparent;
      border-right: .2em solid transparent;
      border-bottom: .35em solid $base-font-color;
      display: inline-block;
      height: 0;
      width: 0;
      //left: -.4em;
      //top: 0.90em;
      left: 0;
      right: 0;
      top:100%;
      margin: 0 auto;
      vertical-align: middle;
      position: absolute;
      line-height: 1;
      transition: all 0.3s ease;
      transition: opacity 0.4s ease;
    }
  }
    @include media-query(palm) {
        margin-bottom: 1rem;
        li, label
        {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
        li
        {
            margin-right: .5em;
            margin-left: .5em;
        }
    }


}

.filter__range
{
  padding-left:.4em;
  padding-right:.4em;
  height: 65px;
  input
  {
    font-family: $secondary-font-family;
    font-size: 1.2em;
    color: $base-font-color;
    border: none;
    background: none;
    width: 100%;
    text-align: center;
    margin: 0.2em 0 0.45em 0;
  }
}
.filter__slider
{
  margin-top:.5em;
  //height: 65px;
  input
  {
    //font-family: $secondary-font-family;
    font-size: .5;
    //color: $base-font-color;
    //border: none;
    //background: none;
    width: 100%;
    //text-align: center;
    //margin: 0.2em 0 0.45em 0;
  }
  input:read-only
  {    font-family: $secondary-font-family;
    font-size: 1.2em;
    color: $base-font-color;
    border: none;
    background: none;
    width: 100%;
    text-align: center;
    margin: 0.4em 0 0.45em 0;
  }
  .ui-slider
  {
    margin-left:.4em;
  }
}
.filter__column
{
@include media-query(desk) {
    display: block !important;
}
  .filter__block
  {
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    margin:0;
	margin-bottom: .5em;
	padding-bottom: .5em;
  }
  input[type=checkbox]
  {
display: none;
 }
  input[type=checkbox] ~ ul
  {
    display: none;
  }
  input[type=checkbox]:checked ~ ul
  {
    display: block;
  }
  .filter__block>input[type=checkbox] + label:after
  {
      float: right;
      margin-top: 8px;
      opacity: 1;
      content: "";
      border-color: transparent #111;
      border-style: solid;
      border-width: 0.25em 0 0.25em 0.35em;
      display: inline-block;
      height: 0;
      width: 0;
      //left: -.4em;
      vertical-align: middle;
      position: relative;
      line-height: 1;
      transition: all 0.3s ease;
      transition: opacity 0.4s ease;
      -webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);
  }
  .filter__block>input[type=checkbox]:checked + label:after
  {
      float: right;
      margin-top: 8px;
      opacity: 1;
      content: "";
      border-color: transparent #111;
      border-style: solid;
      border-width: 0.25em 0 0.25em 0.35em;
      display: inline-block;
      height: 0;
      width: 0;
      //left: -.4em;
      vertical-align: middle;
      position: relative;
      line-height: 1;
      transition: all 0.3s ease;
      transition: opacity 0.4s ease;
      -webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);transform: rotate(-90deg);
  }
}

.view-toggle
{
	display: inline-block;
	float:right;
	a
	{
		text-decoration: none;
	}

    .js-toggle-view
    {
        border-radius: 5px;
        padding: 6px;
        &:hover { background: #D1C800 }
        &.selected { background: none repeat scroll 0% 0% #EAE100; }
        &.disabled { background: initial; }
    }

    .js-toggle-list
    {
        margin-right: 6px;
    }

    .js-toggle-map
    {
        margin-left: 6px;
    }
}

.filter-options--disabled {
    position: relative;
    pointer-events: none;
    &>* {
        opacity: .25;
        transition: opacity .3s ease;
    }
    .loader--results {
        opacity: 1!important;
    }
}