.flag--discount-slider
{
	width: auto;
}
	.flag__image--discount-slider
	{
		width: 150px;
		img
		{
			width: 100%;
		}
	}
	.flag__body--discount-slider
	{
		width: auto;
		p
		{
			margin-bottom: 0;
		}
	}