.language-select
{
	margin-left: 0;
	margin-bottom: 0;
	line-height: 1;
	list-style: none;
	@include font-size(12px);
	@extend .cf;
	li
	{
		display: block;
		float: left;
		border-right: 1px solid;
		&:last-child
		{
			border-right: 0;
			a
			{
				padding-right: 0;
			}
		}
	}
	a
	{
		color: #fff;
		text-decoration: none;
		padding-right: 10px;
		padding-left: 10px;
	}
}
.language-select--main
{
	li
	{
		border-right-color: #fff;
	}
	a
	{
		color: #fff;
	}
}
.language-select--sub
{
	li
	{
		border-right-color: #5f6062;
	}
	a
	{
		color: #5f6062;
	}
}
.footer-list
{
	margin-bottom: 0;
	margin-left: 0;
	list-style: none;
}
.footer-list--sm
{
	@extend .cf;
	li
	{
		float: left;
		margin-right: 3px;
		margin-bottom: 3px;
	}
	a
	{
		display: block;
		width: 35px;
		border: 1px solid $base-font-color;
		@include font-size(20px);
		line-height: 35px;
		vertical-align: center;
		text-align: center;
	}
}

.availability-check
{
	margin-left: 0;
	margin-bottom: 0;
//	list-style: none;
	/*{li
		float: left;
		margin-right: $half-spacing-unit;
		margin-bottom: $half-spacing-unit;
		text-align: left;
	}*/
}
.bullet-list
{
	list-style-type: none;
    width:200px;
	li
	{
		position: relative;
		display: block;
        margin: 10px 0;
		/*&:before
		{
			position: absolute;
			left: -10px;
			font-family: icons-default;
			content: "\e6d2";
			@include font-size(8px,false);
		}*/
	}
}
.bullet-list--direct-links
{
	li
	{
	&:before
		{
			line-height: 2;
		}
	}
}

.view-type-list
{
	margin-bottom: $half-spacing-unit;
	border-bottom: 1px solid #5f6062;
	li
	{
		display: inline;
	}
}

.inline-list
{
  list-style: none;

  li
  {
    display: inline-block;
    vertical-align: middle;
    //height: 30px;
    text-align: center;
  }
}
.inline-list--language
{
  li>a
  {
    font-size: .8rem;
    color: #ffffff;
    text-decoration: none;
    border-right: 1px solid white;
    padding-right:  .5em;
    margin-right:   .25em;
    line-height: 51px;
  }
  li:last-of-type>a
  {
    border-right: 0;
  }
}

.list__naked
{
  margin:0;
  list-style: none;
}

.list__usp
{
    margin: 0.25em 0 1em 0;
    padding: 0 1.1em;
    list-style: none;
  font-family: $secondary-font-family;
  font-size: 1.1em;
  color: $base-font-color;
  //opacity: .9;
  li
  {
    margin-top: -6px;
  }
  li:first-of-type
  {
    margin-top: 0;
  }
  li:before {
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.90em;
    position: relative;
  }
}

.list__facilities
{
  margin: 0.25em 0 1em 0;
  padding: 0 1.1em;
  list-style: none;
  font-family: $secondary-font-family;
  font-size: 1.1em;
  color: $base-font-color;
  //opacity: .9;
  li
  {
    margin-top: -6px;
  }
  li:first-of-type
  {
    margin-top: 0;
  }
  li:before {
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.90em;
    position: relative;
  }
}

.list__social
{
  list-style: none;
  margin: 1.4rem;
  text-align: center;
  font-size: 1.75rem;
  //margin-top: 1rem;
  li {
    display: inline-block;

  }
  path
  {
    fill: rgba($base-font-color, 0.6);
  }
  svg
  {
    height: 2em;
    width: 1.3em;
  }
@include media-query(palm)
{
    text-align: center;
    margin: 0 !important;
}
@include media-query(lap)
{
	text-align: left;
}
}

.list__icons
{
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: .1em;
  margin-left: 0;
  margin-top:1rem;
  margin-bottom:1rem;
  text-align: center;
  white-space: pre-line;
  li
  {
    text-align: center;
    display: inline-block;
    vertical-align: top;
	min-width: 75px;
    margin-bottom: $half-spacing-unit;
    white-space: initial;
        @include media-query(palm) {

	min-width: 90px;
        }
    span
    {
		word-wrap: normal;
		word-break: break-word;
        display: block;
      font-size: .9rem;
      letter-spacing: 0;
      color: rgba($base-link-color, 1);
    }
    path, polygon
    {
      fill: $base-link-color;
    }

  }
  li:last-child
  {
    margin-right:0;
  }

}

.list__icons__icon
{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    @include media-query(palm) {
        width: 55px;
        height: 55px;
    }
}
